@font-face{
		src: url(/home/julsatx/ga/Casino-Project/photos/Casino3DLinesMarquee.ttf);
	font-family: casino3dLinesMarquee;
}


#startPage{
	background-image: url(/home/julsatx/ga/Casino-Project/photos/casino.gif);
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: 100% 95%;
	height: 100vh;
	
}

#guessNumber{
	background-image: url(/home/julsatx/ga/Casino-Project/photos/vegasViewFlipCoin.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed center;
	height: 100vh;
	font-size:20px;
	color: white;
	font-family:'poppins', sans-serif;
	text-align: center;
	vertical-align: middle;
	
}

#guessNumber h1{
	font-size: 35px;
	text-align: center;
	margin: 0px;
	padding: 25px 0 0 0;
	font-family: 'poppins';
	/*box-shadow: 20px 20px 2px rgba(0,0,0,1);*/


}
#coinGame{
	background-image: url(/home/julsatx/ga/Casino-Project/photos/las-vegas.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed center;
	height: 100vh;
	font-size:20px;
	color: white;
	font-family:'poppins', sans-serif;
	text-align: center;
}

#coinGame h1{
	font-size: 35px;
	text-align: center;
	margin: 0px;
	padding: 25px 0 0 0;
	font-family: 'poppins';	
}

#returnResult{
	color: black;
}
/*#coinGame {
	height: 50%;
	align-self: flex-end;
	background-color: red*/

#coinGame img{
	border-radius: 65%;
	width: 50%;
	transition: 1s;
	
}


#coinGame img:hover{
	transform: scale(1.1);
	transform-origin: center;
	background-color: ;

}
.btn-group button {
  background-color: #333;
  border: 1px solid gold;
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
  font-family: casino3dLinesMarquee;
  font-size: 20px;
  color: gold;
}

.btn-group button:not(:last-child) {
  border-right: none;
  width: 100%
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}


.btn-group button:hover {
  background-color: #3e8e41;
}